{{! The big featured header on the homepage, with the site logo and description }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav>
      <div class="nav-wrapper">
        <a href="http://beumel.net" class="brand-logo right">{{@blog.title}}</a>
        {{navigation}}
      </div>
    </nav>
</header>
