body {
	color: #727272;
	font-family: 'Raleway', sans-serif;
	background-color: #E5E5E5;
}
p {
	line-height: 25px;
}
img {
    max-width: 90%;
    height: auto;
		margin: auto;
}
body.nav-opened {
    overflow-x: hidden;
    -webkit-transform: translate3D(-240px, 0, 0);
        -ms-transform: translate3D(-240px, 0, 0);
            transform: translate3D(-240px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
}
body.nav-opened .nav-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 240px;
    bottom: 0;
    z-index: 200;
}
body.nav-closed .nav {
    -webkit-transform: translate3D(97px, 0, 0);
        -ms-transform: translate3D(97px, 0, 0);
            transform: translate3D(97px, 0, 0);
}

body.nav-opened .nav {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s ease,
                        opacity 0s ease 0s;
            transition: transform 0.3s ease,
                        opacity 0s ease 0s;
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
}
.main-nav {
    position: relative;
    padding: 35px 40px;
    margin: 0 0 30px 0;
}

.main-nav a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 240px;
    opacity: 0;
    background: #111;
    margin-bottom: 0;
    text-align: left;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.5s ease,
                        opacity 0.3s ease 0.7s;
            transition: transform 0.5s ease,
                        opacity 0.3s ease 0.7s;
}
.nav-title {
    position: absolute;
    top: 45px;
    left: 30px;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
}
.nav .nav-current:before {
    color: #fff;
}
.nav .nav-current a:after {
    content: " ";
    border-bottom: rgba(255,255,255,0.5) 1px solid;
    width: 100%;
    height: 1px;
}

.nav a:link,
.nav a:visited {
    color: #B8B8B8;
}

.nav li.nav-current a,
.nav a:hover,
.nav a:active,
.nav a:focus {
    color: #fff;
}
body.nav-opened .nav-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 240px;
    bottom: 0;
    z-index: 200;
}

.menu-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    height: 38px;
    padding: 0 15px;
    border-style: solid;
    border-width: 1px;
    opacity: 1;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all 0.5s ease;
}
.menu-button:before {
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
    position: relative;
    top: 1px;
}
.menu-button:hover {
    background: #fff;
}
.menu-button:focus {
    outline: 0;
}

/* When the navigation is closed */
.nav-closed .menu-button {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.6);
}
.nav-closed .menu-button:hover {
    color: #222;
}
.nav-close {
    position: absolute;
    top: 38px;
    right: 25px;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;
}

.nav-close:focus {
    outline: 0;
}

.nav-close:before,
.nav-close:after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 1px;
    background: rgb(150,150,150);
    top: 15px;
    -webkit-transition: background 0.15s ease;
            transition: background 0.15s ease;
}

.nav-close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.nav-close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.nav-close:hover:before,
.nav-close:hover:after {
    background: rgb(255,255,255);
}

.nav ul {
    padding: 90px 9% 5%;
    list-style: none;
    counter-reset: item;
}

.nav li:before {
    display: block;
    float: right;
    padding-right: 4%;
    padding-left: 5px;
    text-align: right;
    font-size: 1.2rem;
    vertical-align: bottom;
    color: #B8B8B8;
    content: counter(item, lower-roman);
    counter-increment: item;
}
.nav li {
    margin: 0;
}
.nav li a {
    text-decoration: none;
    line-height: 1.4;
    font-size: 1.4rem;
    display: block;
    padding: 0.6rem 4%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nav li a:after {
    display: inline-block;
    content: " .......................................................";
    color: rgba(255,255,255,0.2);
    margin-left: 5px;
}
.nav .nav-current:before {
    color: #fff;
}
.nav .nav-current a:after {
    content: " ";
    border-bottom: rgba(255,255,255,0.5) 1px solid;
    width: 100%;
    height: 1px;
}

.nav a:link,
.nav a:visited {
    color: #B8B8B8;
}

.nav li.nav-current a,
.nav a:hover,
.nav a:active,
.nav a:focus {
    color: #fff;
}


/* When the navigation is closed and there is no cover image */
.nav-closed .no-cover .menu-button {
    border-color: #BFC8CD;
    color: #9EABB3;
}
.nav-closed .no-cover .menu-button:hover {
    border-color: #555;
    color: #555;
}

/* When the navigation is opened */
.nav-opened .menu-button {
    padding: 0 12px;
    background: #111;
    border-color: #111;
    color: #fff;
    -webkit-transform: translate3D(94px, 0, 0);
        -ms-transform: translate3D(94px, 0, 0);
            transform: translate3D(94px, 0, 0);
    transition: all 0.3s ease;
}
.page-title {
	padding:20px 0;
	text-shadow: 2px 2px 2px rgba(26, 26, 26, 0.1);
	text-align: center;
	color: #2F3727;
}
.inner {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 0 auto;
}

.page-description {
	padding:20px 0;
	text-shadow: 2px 2px 2px rgba(26, 26, 26, 0.1);
	text-align: center;
	color: #2F3727;
}

.nav-opened .menu-button .word {
    opacity: 0;
    transition: all 0.3s ease;
}
.mytheme_page {
	max-width: 1000px;
	margin: 0 auto;
}
.mytheme_header {
	padding:20px 0;
	text-shadow: 2px 2px 2px rgba(26, 26, 26, 0.1);
	text-align: center;
	color: #2F3727;
}
main article {
	margin: 30px 0;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
	background-color: #FFFFFF;
}
.mytheme_post_content {
	padding: 0 20px;
}
.mytheme_post_title {
	margin: 0 0 20px 0;
	padding: 10px;
	font-size: 2em;
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(26, 26, 26, 0.2);
	color: #FFFFFF;
	background-color: #878787;
}
.mytheme_post_title a {
	text-decoration: none;
	color: #FFFFFF;
}
.mytheme_main_img img {
	width: 100%;
	max-width: 100%;
	border: 0;
}
.mytheme_post_info {
	overflow: auto;
	padding: 0 20px;
	background-color: #878787;
}
.mytheme_date {
	float: left;
	padding-top: 20px;
	color: #FFFFFF;
}
.button {
	float: right;
	padding: 20px 0;
}
.button a {
	padding: 5px;
	transition: ease .3s;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #39a9da;
}
.button a:hover {
	background-color: #199ed9;
}
.pagination {
	margin: 0 0 20px 0;
	padding: 20px;
	text-align: center;
	background-color: #FFFFFF;
}
.post-template main {
	margin-top: 30px;
}
.post article {
	margin: 0;
	padding: 20px;
	border: none;
	background-color: #FFFFFF;
}
.post .mytheme_post_title {
	margin-bottom: 0;
}
